<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>657876421018-jonkriub8jcisbqdsg9ha221tvhmggkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.657876421018-jonkriub8jcisbqdsg9ha221tvhmggkp</string>
	<key>API_KEY</key>
	<string>AIzaSyDr9J8h19bYonKCGO8rtMJDw0HWjByUzOg</string>
	<key>GCM_SENDER_ID</key>
	<string>657876421018</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.theMessenger</string>
	<key>PROJECT_ID</key>
	<string>the-messenger-f4769</string>
	<key>STORAGE_BUCKET</key>
	<string>the-messenger-f4769.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:657876421018:ios:c750035ef153cc73fc5223</string>
</dict>
</plist>